target/
.classpath
.project
.settings/
*.class
*.jar
!**/src/main/**/*.jar
!**/src/test/**/*.jar
.idea/
*.iml
*.iws
.DS_Store
allure-results/
allure-report/
playwright/.local-browsers/
test-output/
surefire-reports/
*.log
logs/
